In [322]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np

In [323]:
#Diccionario sprintResults
sprintResults = {'driverId': [], 'constructorId': [], 'number': [], 'grid': [], 'position': [], 'positionText': [], 'points': [], 'laps': [], 'time': [], 'milliseconds': [], 'fastestLap': [], 'fastestLapTime': [], 'status': []}

In [324]:
for year in list(range(2020, 2023)):  
    url = "http://ergast.com/api/f1/{}/sprint.json?limit=60"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        for item2 in item['SprintResults']:
            sprintResults['driverId'].append(item2['Driver']['driverId'])
            sprintResults['constructorId'].append(item2['Constructor']['constructorId'])
            sprintResults['number'].append(int(item2['number']))
            sprintResults['grid'].append(int(item2['grid']))
            sprintResults['position'].append(int(item2['position']))
            sprintResults['positionText'].append(item2['positionText'])
            sprintResults['points'].append(item2['points'])
            sprintResults['laps'].append(int(item2['laps']))
            try:
                sprintResults['time'].append(item2['Time']['time'])
            except:
                sprintResults['time'].append(np.nan)
            try:
                sprintResults['milliseconds'].append(int(item2['Time']['millis']))
            except:
                sprintResults['milliseconds'].append(np.nan)
            try:
                sprintResults['fastestLap'].append(int(item2['FastestLap']['lap']))
            except:
                sprintResults['fastestLap'].append(np.nan)
            try:
                sprintResults['fastestLapTime'].append(item2['FastestLap']['Time']['time'])
            except:
                sprintResults['fastestLapTime'].append(np.nan)
            sprintResults['status'].append(item2['status'])

In [325]:
pd.DataFrame(sprintResults)

,driverId,constructorId,number,grid,position,positionText,points,laps,time,milliseconds,fastestLap,fastestLapTime,status
0,max_verstappen,red_bull,33,2,1,1,3,17,25:38.426,1538426.0,14.0,1:30.013,Finished
1,hamilton,mercedes,44,1,2,2,2,17,+1.430,1539856.0,17.0,1:29.937,Finished
2,bottas,mercedes,77,3,3,3,1,17,+7.502,1545928.0,17.0,1:29.958,Finished
3,leclerc,ferrari,16,4,4,4,0,17,+11.278,1549704.0,16.0,1:30.163,Finished
4,norris,mclaren,4,6,5,5,0,17,+24.111,1562537.0,16.0,1:30.566,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,stroll,aston_martin,18,15,16,16,0,24,+50.700,1862007.0,4.0,1:15.425,Finished
116,ocon,alpine,31,6,17,17,0,24,+51.756,1863063.0,5.0,1:16.097,Finished
117,alonso,alpine,14,7,18,18,0,24,+53.985,1865292.0,5.0,1:14.764,Finished
118,latifi,williams,6,16,19,19,0,24,+1:16.850,1888157.0,4.0,1:16.525,Finished
119,albon,williams,23,11,20,R,0,12,NaN,NaN,4.0,1:15.998,Retired

In [374]:
pd.DataFrame(sprintResults).to_csv('sprintResults.csv', index = False)

In [332]:
#Diccionario status
status = {'statusId': [], 'status': []}

In [333]:
for year in list(range(2010, 2023)):  
    url = "http://ergast.com/api/f1/{}/status.json?limit=40"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['StatusTable']['Status']:
        status['statusId'].append(int(item['statusId']))
        status['status'].append(item['status'])

In [334]:
pd.DataFrame(status)

     statusId            status
0           1          Finished
1           3          Accident
2           4         Collision
3           5            Engine
4           6           Gearbox
..        ...               ...
364       103        Water pump
365       130  Collision damage
366       131        Power Unit
367       140         Undertray
368       141    Cooling system

[369 rows x 2 columns]

In [375]:
pd.DataFrame(status).to_csv('status.csv', index = False)

In [371]:
#Diccionario results
results = {'driverId': [], 'constructorId': [], 'number': [], 'grid': [], 'position': [], 'positionText': [], 'points': [], 'laps': [], 'time': [], 'milliseconds': [], 'fastestLap': [], 'rank': [], 'fastestLapTime': [], 'FastestLapSpeed': [], 'statusId': []}

In [372]:
for year in list(range(2010, 2023)):
    url = "http://ergast.com/api/f1/{}/results.json?limit=500"
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    for item in content['MRData']['RaceTable']['Races']:
        for item2 in item['Results']:
            results['driverId'].append(item2['Driver']['driverId'])
            results['constructorId'].append(item2['Constructor']['constructorId'])
            results['number'].append(int(item2['number']))
            results['grid'].append(int(item2['grid']))
            results['position'].append(int(item2['position']))
            results['positionText'].append(item2['positionText'])
            results['points'].append(item2['points'])
            results['laps'].append(int(item2['laps']))
            try:
                results['time'].append(item2['Time']['time'])
            except:
                results['time'].append(np.nan)
            try:
                results['milliseconds'].append(int(item2['Time']['millis']))
            except:
                results['milliseconds'].append(np.nan)
            try:
                results['fastestLap'].append(int(item2['FastestLap']['lap']))
            except:
                results['fastestLap'].append(np.nan)
            try:
                results['rank'].append(int(item2['FastestLap']['rank']))
            except:
                results['rank'].append(np.nan)
            try:
                results['fastestLapTime'].append(item2['FastestLap']['Time']['time'])
            except:
                results['fastestLapTime'].append(np.nan)
            try: 
                results['FastestLapSpeed'].append(item2['FastestLap']['AverageSpeed']['speed'])
            except:
                results['FastestLapSpeed'].append(np.nan)
            results['statusId'].append(item2['status'])

In [373]:
pd.DataFrame(results)

,driverId,constructorId,number,grid,position,positionText,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,FastestLapSpeed,statusId
0,alonso,ferrari,8,3,1,1,25,49,1:39:20.396,5960396.0,45.0,1.0,1:58.287,191.706,Finished
1,massa,ferrari,7,2,2,2,18,49,+16.099,5976495.0,38.0,5.0,1:59.732,189.392,Finished
2,hamilton,mclaren,2,4,3,3,15,49,+23.182,5983578.0,42.0,4.0,1:59.560,189.665,Finished
3,vettel,red_bull,5,1,4,4,12,49,+38.799,5999195.0,32.0,12.0,2:00.218,188.627,Finished
4,rosberg,mercedes,4,5,5,5,10,49,+40.213,6000609.0,45.0,13.0,2:00.236,188.599,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,mick_schumacher,haas,47,12,16,16,0,57,NaN,NaN,39.0,12.0,1:29.833,211.632,+1 Lap
5513,kevin_magnussen,haas,20,16,17,17,0,57,NaN,NaN,40.0,20.0,1:31.158,208.556,+1 Lap
5514,hamilton,mercedes,44,5,18,18,0,55,NaN,NaN,42.0,11.0,1:29.788,211.738,Hydraulics
5515,latifi,williams,6,20,19,19,0,55,NaN,NaN,45.0,14.0,1:30.309,210.517,Collision damage
5516,alonso,alpine,14,10,20,R,0,27,NaN,NaN,24.0,17.0,1:30.579,209.889,Water leak

In [376]:
pd.DataFrame(results).to_csv('results.csv', index = False)

In [435]:
#Diccionario pitStops
pitStops = {'driverId': [], 'lap': [], 'stop': [], 'time': [], 'duration': []}

In [436]:
for year in list(range(2011, 2023)):
    for rnd in list(range(1, 23)):
        url = "https://ergast.com/api/f1/{}/{}/pitstops.json?limit=100"
        response = requests.get(url.format(year, rnd))
        content = json.loads(response.content)
        for item in content['MRData']['RaceTable']['Races']:
            for item2 in item['PitStops']:
                pitStops['driverId'].append(item2['driverId'])
                pitStops['lap'].append(int(item2['lap']))
                pitStops['stop'].append(int(item2['stop']))
                pitStops['time'].append(item2['time'])
                pitStops['duration'].append(item2['duration'])

In [437]:
pd.DataFrame(pitStops)

                driverId  lap  stop      time duration
0            alguersuari    1     1  17:05:23   26.898
1     michael_schumacher    1     1  17:05:52   25.021
2                 webber   11     1  17:20:48   23.426
3                 alonso   12     1  17:22:34   23.251
4                  massa   13     1  17:24:10   23.842
...                  ...  ...   ...       ...      ...
9629              latifi   38     2  18:02:50   25.174
9630              stroll   40     2  18:04:44   21.802
9631                ocon   41     2  18:06:09   21.734
9632              norris   42     2  18:07:36   21.559
9633                zhou   44     2  18:11:10   23.159

[9634 rows x 5 columns]

In [438]:
pd.DataFrame(pitStops).to_csv('pitStops.csv', index = False)